.footer__column-item {
  padding-bottom: 10px;
  list-style-type: none;
  transition: opasity .2s linear;
}
.footer__column-item:last-of-type {
  padding-bottom: 0;
}

.footer__column-item:hover{
  opacity: .6;
}