

footer.footer
    .footer__columns
        .footer__column_content_copyright
            .logo.logo_place_footer
            p.footer__author &copy; Виктор Абанькин
        .footer__column_content_info
            .footer__column-heading О практикуме
            ul.footer__column-links
                li.footer__column-item
                    a.footer__column-link(href="#" target="_blank") Главная
                li.footer__column-item
                    a.footer__column-link(href="#" target="_blank") Концепция
                li.footer__column-item
                    a.footer__column-link(href="#" target="_blank") Наставники
        .footer__column_content_social
            .footer__column-heading Соцсети
            ul.footer__column-links
                li.footer__column-item
                    a.footer__column-link(href="#" target="_blank") #[img(src="images/facebook_color_white.svg" alt="Facebook").footer__social-icon ] Facebook
                li.footer__column-item
                    a.footer__column-link(href="#" target="_blank") #[img(src="images/vk_color_white.svg" alt="Вконтакте").footer__social-icon ] Вконтакте
                li.footer__column-item
                    a.footer__column-link(href="#" target="_blank") #[img(src="images/instagram_color_white.svg" alt="Instagram").footer__social-icon ] Instagram
