header.header
    .logo.logo_place_header
    h1.header__title Научится учится
    p.header__subtitle Какие современные и эффективные подходы к обучению вы можете использовать в своей жизни?  #[a.header__link Узнать → ]
    .header__main-illustration
    .header__square-pic





