block variables
block mix
    include ../mixins/mixins

doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title= pageTitle
            meta(content="width=device-width, initial-scale=1" name="viewport")
            link(rel="icon" href="images/favicon/favicon.png")
            link(rel="stylesheet" href="style.css")
        body.page
            block header
                include header
            block content
            block footer
                include footer
            block scripts