.feynman {
  background: #F2F2F2 url("../../images/feynman.png") no-repeat bottom left;
  position: relative;
  background-size:  867px 637px;
  min-height: 890px;
  padding-top: 100px;
  box-sizing: border-box;
}
