.feynman {
  background: #F2F2F2 url("../../images/feynman.png") no-repeat bottom left;
  position: relative;
  background-size:  867px 637px;
  min-height: 890px;
  top: -50px;
  padding-top: 100px;

}
