extends common/layout

block variables
    - var pageTitle = 'Научится учится'

block content
    main.content
        include includes/index/description
        include includes/index/technics
        include includes/index/video
        include includes/index/oakley
        include includes/index/feynman
        include includes/index/digits
        include includes/index/khan
        include includes/index/kaufman
        include includes/index/resourses
block scripts