section.digits
    +sectiontitle("Цифры и факты", "Про учёбу и мозг")
    .table
        +tables("86 миллиардов","Число нейронов в мозге человека")
        +tables("2,1 миллиарда","Число нуждающихся в повышении квалификации", "Всемирный Банк, 2017")
        +tables("1000 терабайт","Объём памяти человека")
        +tables("500 триллионов","Число ответственных за обучение нервных синапсов у взрослого человека")
        +tables("420 миллионов","Число взрослых людей моложе 25 лет, не имеющих образования для трудоустройства", "Всемирный Банк, 2017")
        +tables("17–20 лет","Пик обучаемости")
        +tables("1885 год","Открытие кривой забывания")
        +tables("1889 год","Открытие условного рефлекса")