

section.kaufman.kaufman__content
    +sectiontitle("Принципы обучения", "от Джоша Кауфмана", "dark")
    .kaufman__triangle
    .table.table_theme_dark
        +tablesDark("1", "Выберите привлекательный цвет")
        +tablesDark("2", "Сосредоточьтесь на каком-то одном навыке")
        +tablesDark("3", "Определите целевой уровень мастерства.")
        +tablesDark("4", "Разбейте навык на элементы.")
        +tablesDark("5", "Приготовьте всё необходимое для занятий.")
        +tablesDark("6", "Устраните препятствия для занятий.")
        +tablesDark("7", "Выделите специальное время для занятий.")
        +tablesDark("8", "Создайте быстрые петли обратной связи.")
        +tablesDark("9", "Занимайтесь по расписанию, короткими интенсивными интервалами.")
        +tablesDark("10", "Уделяйте внимание количеству и скорости.")