section.khan
    .khan__container
        p.khan__author Салман Хан
        h2.khan__title Весь мир — школа
        blockquote.khan__quote Страсть и новаторство Сала Хана меняют процесс обучения миллионов студентов по всему миру. Книгу «Весь мир — школа» нужно прочитать всем, кто занимается образованием — так учащиеся повсюду смогут получить навыки и знания, которые приносят успех в школе, карьере и жизни.
        p.khan__quote-author Джордж Лукас
        p.khan__quote-author-subline Кинорежиссер, продюсер
        .khan__book-container
            .khan__book-pic
            a(href="#" target="_blank").khan__buy-link Купить книгу →


