
- var nameResources = "resources"
- var resourcesLink = [{href: "#", alt: "arzamas", class: nameResources+"arzamas", src: "images/logo/resources-arzamas.svg"}, {href: "#", alt: "N+1",  class: nameResources+"N+1", src: "images/logo/resources-n1.svg"}, {href: "#", alt: "стрелка",  class: nameResources+"strelka", src: "images/logo/resources-strelka.svg"}, {href: "#", alt: "Полка", class: nameResources+"polka", src: "images/logo/resources-polka.svg"}]
section.resources
    +sectiontitle("Полезные ресурсы","Больше материалов о техниках и лайфхаках обучения")
    .resources__logo-zone
        for items in resourcesLink
            a(href=items.href target="_blank" class="resources__link")
                img(src=items.src class="resources__logo" alt=items.alt)
    